function Main.main 4
push constant 0
pop local 3
push constant 284
push constant 127
push constant 21
call Triangle.new 3
pop local 0
call Interface.new 0
pop local 1
push local 1
call Interface.drawborders 1
pop temp 0
push local 1
call Interface.drawinstructions 1
pop temp 0
push local 0
push constant 0
not
call Triangle.draw 2
pop temp 0
label WHILE_EXP0
push local 3
not
not
if-goto WHILE_END0
label WHILE_EXP1
push local 2
push constant 0
eq
not
if-goto WHILE_END1
call Keyboard.keyPressed 0
pop local 2
goto WHILE_EXP1
label WHILE_END1
push local 2
push constant 81
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
pop local 3
label IF_FALSE0
push local 2
push constant 82
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 0
call Triangle.turn 1
pop temp 0
label IF_FALSE1
push local 2
push constant 65
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push local 0
call Triangle.inc 1
pop temp 0
label IF_FALSE2
push local 2
push constant 68
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push local 0
call Triangle.dec 1
pop temp 0
label IF_FALSE3
push local 2
push constant 131
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push local 0
call Triangle.moveup 1
pop temp 0
label IF_FALSE4
push local 2
push constant 133
eq
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push local 0
call Triangle.movedown 1
pop temp 0
label IF_FALSE5
push local 2
push constant 132
eq
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push local 0
call Triangle.moveright 1
pop temp 0
label IF_FALSE6
push local 2
push constant 130
eq
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push local 0
call Triangle.moveleft 1
pop temp 0
label IF_FALSE7
label WHILE_EXP2
push local 2
push constant 0
eq
not
not
if-goto WHILE_END2
call Keyboard.keyPressed 0
pop local 2
goto WHILE_EXP2
label WHILE_END2
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
